.lflRjR{
	height: 350px;
  width:250px;
  background-image: linear-gradient(to left top, #073639, #0a5358, #0b7178, #09929b, #04b3bf);
  box-shadow: 1px 1px 2px 2px black;
  border-radius: 5px;
  border-image: initial;
  padding: 16px;
  margin-bottom: 20px;
  z-index: 200px;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  color: white;
}
.affix-top,.affix{
	position: static;
}

.lflRjR .border-btn > a{
  color: white;
}
.lflRjR .border-btn{
  color: white;
}

@media only screen and (min-width: 268px) and (max-width: 992px) {
  .lflRjR , .lflRjR1{
  visibility :hidden;
  display:block;
 }
 #lflRjR .lflRjR .affix{
  visibility :hidden;
  display:block;
 }
 .lflRjRmob{
  background-image: linear-gradient(to left top, #073639, #0a5358, #0b7178, #09929b, #04b3bf);
  box-shadow: 1px 1px 2px 2px black;
  border-radius: 5px;
  border-image: initial;
  padding: 16px;
  margin-bottom: 20px;
  z-index: 200px;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  color: white;
  margin-top: 0px;
  padding: 20px;
 }
 .lflRjRmob .border-btn{
  color: white;
}
.lflRjRmob1{
  background-image: linear-gradient(to left top, #073639, #0a5358, #0b7178, #09929b, #04b3bf);
  box-shadow: 1px 1px 2px 2px black;
  border-radius: 5px;
  border-image: initial;
  padding: 16px;
  margin-bottom: 20px;
  z-index: 200px;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  color: white;
  margin-top: -285px;
  padding: 20px;
 }
 .lflRjRmob1 .border-btn{
  color: white;
}
.contactForm { 
  display: none;
  border: 1px teal; 
  box-shadow: 0px 0px 4px 4px black;
  border-radius: 5px;
  padding: 2em;
  width: 80%;
  text-align: center;
  background: rgba(0,128,128,0.8);
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  z-index: 450;
  
}
}

@media (min-width: 992px) {
 .lflRjRmob , .lflRjRmob1{
  visibility: hidden;
 }
  #lflRjR.affix-top {
    position: static;
  	margin-top:30px;
  	width:250px;
  }
  
  #lflRjR.affix-bottom {
    position: relative;
  }

  #lflRjR.affix {
    position: fixed;
    top:100px;
    width:250px;
    height: 350px;
    background-image: linear-gradient(to left top, #073639, #0a5358, #0b7178, #09929b, #04b3bf);
    box-shadow: 1px 1px 2px 2px black;
    border-radius: 5px;
    border-image: initial;
    padding: 16px;
    margin-bottom: 20px;
    z-index: 200px;
    color: white;
  }
  .contactForm { 
  display: none;
  border: 1px teal; 
  box-shadow: 0px 0px 4px 4px black;
  border-radius: 5px;
  padding: 2em;
  width: 400px;
  text-align: center;
  background: rgba(0,128,128,0.8);
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  z-index: 450;
  
}
}
.content {
  padding: 0px;
  margin-top: 0px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.sticky + .content {
  padding-top: 102px;
}
.navbar .navbar-default a{
	z-index: 0;
}
.col-md-3 .pl0 .padding-top-40{
	height: auto;
}

/*mitra landing*/
.lflRjR1{
  height: 370px;
  width:250px;
  background-image: linear-gradient(to left top, #073639, #0a5358, #0b7178, #09929b, #04b3bf);
  box-shadow: 1px 1px 2px 2px black;
  border-radius: 5px;
  border-image: initial;
  padding: 16px;
  margin-bottom: 20px;
  z-index: 200px;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  color: white;
}
.lflRjR1 .border-btn > a{
  color: white;
}
.lflRjR1 .border-btn{
  color: white;
}

@media (min-width: 979px) {
  #lflRjR1.affix-top {
    position: static;
    margin-top:35px;
    width:250px;
  }
  
  #lflRjR1.affix-bottom {
    position: relative;
  }

  #lflRjR1.affix {
    position: fixed;
    top:100px;
    width:250px;
    height: 370px;
    background-image: linear-gradient(to left top, #073639, #0a5358, #0b7178, #09929b, #04b3bf);
    box-shadow: 0px 0px 4px 4px black;
    border-radius: 5px;
    border-image: initial;
    padding: 16px;
    margin-bottom: 20px;
    z-index: 200px;
    color: white;
  }
}

.sticky1 {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.sticky1 + .content {
  padding-top: 102px;
}

/*Pop Up Contact*/
@import "https://fonts.googleapis.com/css?family=Raleway";
* { box-sizing: border-box; }

.contactForm .border-btn > a{
  color: white;
}
.contactForm .border-btn{
  color: white;
}
.contactForm #demoFont{
  color: white;
}
.contactForm #demoFont1{
  color: white;
}
.panel-heading #demoFont1{
  color: white;
}
